body {
  height: 100vh;
  color: #fff;
}

nav {
  height: 7%;
  border-bottom: 2px solid blue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: #17141f;
  color: white;
  text-align: center;
  border-top: 2px solid blue;
}

.content {
  height: 86%;
  width: 100%;
  padding: 0;
}

.project-ul {
  width: 20%;
  min-height: 100%;
  background-color: #17141f;
}

.todos {
  width: 80%;
  background-color: gray;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: 300px;
  overflow-y: scroll;
}

.card {
  justify-content: space-between;
}

.cardBody {
  padding: 1.25rem;
}
